<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<script>
// Функция для обработки ответа сервера
function handleResponse(response) {
    var resultTextarea = document.getElementById('result');
    resultTextarea.value = JSON.stringify(response, null,  2); // Преобразование ответа в строку для отображения
}

// Обработчик события отправки формы
document.querySelector('form').addEventListener('submit', function(event) {
    event.preventDefault(); // Предотвращаем стандартное поведение формы

    // Здесь должна быть  логика отправки формы на сервер и получения ответа
    // Например, используя fetch API
    fetch(this.action, {
        method: 'POST',
        body: new FormData(this),
        headers: {
            'X-CSRFToken': document.querySelector('input[name=csrfmiddlewaretoken]').value
        }
    })
    .then(response => response.json())
    .then(data => handleResponse(data))
    .catch(error => console.error('Error:', error));
});

document.addEventListener('DOMContentLoaded', function() {
    // Предполагается, что у вас есть функция для получения данных из сессии
    var data = getFromSession();

    // Отображаем данные на странице
    document.getElementById('albumName').textContent = data.albumName;
    document.getElementById('creationDate').textContent = data.creationDate;
    document.getElementById('tasksCount').textContent = data.tasksCount;
});
</script>

<body>
    <div class="container my-3">
        <br><br>
        <h2>Студент</h2>
        <br>
        <h5>Имя: {{ user.first_name }}</h5>
        <h5>Фамилия: {{ user.last_name }}</h5>
        <br>

        {% if request.session.album_name %}
            <p>Название альбома: {{ request.session.album_name }}</p>
            <p>Дата создания: {{ request.session.creation_date }}</p>
            <p>Количество заданий: {{ request.session.tasks_count }}</p>
        {% else %}
            <p>Нет данных для отображения.</p>
        {% endif %}

        <form method="post" enctype="multipart/form-data" action="{% url 'create_work' %}">
            {% csrf_token %}
            <button type="submit">Добавить работу</button>
        </form>
        <br>
<!--        <textarea id="result" rows="10" cols="50" readonly></textarea>-->
<!--        <br>-->
        <form method="post" action="{% url 'all_student_works' %}">
            {% csrf_token %}
            <button type="submit">Посмотреть все работы</button>
        </form>
        <br>
        <form method="post" action="{% url 'moderator' %}">
            {% csrf_token %}
        <button type="submit" class="btn btn-primary">На главную</button>
        </form>
    </div>
</body>
</html>
