<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">&nbsp;{{ user.first_name }} {{ user.last_name }}</span>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">Log out</a>
            </li>
        </ul>
    </nav>

    <div class="container mt-4">
        <h2>Your Work</h2>
        {% if user.student.all %}
            {% for work in user.student.all %}
        <div class="latex-styled-text">

                    <div class="card-body">
                        <h5 class="card-title">{{ work.name_work }}</h5>
                        <p class="card-text">Дата написания: {{ work.writing_date }}</p>
                        <p class="card-text">Работа ученика: {{ work.text_work | safe }}</p>
                        <p class="card-text">Результат проверки: {{ work.proven_work | safe }}</p>
                        {% if work.assessment %}
                            <p class="card-text">Assessment: {{ work.assessment | safe }}</p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No work has been added yet.</p>
        {% endif %}
    </div>
</body>
</html>
