<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Студент</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container my-3">
        <br><br>
        <h2>Студент</h2>
        <br>
        <div class="row">
            <div class="col-md-12">
                <h4>Имя и фамилия:</h4>
                <h5>{{ user.first_name }} {{ user.last_name }}</h5>
            </div>
        </div>
        <br>
        <form method="get" enctype="multipart/form-data" action="{% url 'create_work' user.id %}">
            {% csrf_token %}
            <input type="hidden" name="first_name" value="{{ user.first_name }}">
            <input type="hidden" name="last_name" value="{{ user.last_name }}">
            <button type="submit" class="btn btn-primary">Добавить работу</button>
        </form>
        <br>
        {% if works %}
        <h5>Список работ:</h5>
        <ul>
            {% for work in works %}
            <li>
                <a href="{% url 'update-work' work.id %}">
                    <strong>{{ work.name_work }}</strong><br>
                </a>
                <strong>Дата написания:</strong> {{ work.writing_date }}<br>
                <strong>Оценка:</strong> {{ work.assessment }}
                <form method="post" action="{% url 'delete_work' work.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Удалить работу</button>
                </form>
                {% if work.assessment == None %}
                <form method="post" action="{% url 'check-work' work.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success">Проверить работу</button>
                </form>
                {% else %}
                <form method="get" action="{% url 'update-work' work.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success">Редактировать</button>
                </form>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>Нет работ</p>
        {% endif %}
        <br>
            <form method="get" action="{% url 'moderator' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">На главную</button>
        </form>
            </form>
    </div>
</body>
</html>




